.QuizTestRounds {
    background-color: #6C8E2E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin: 0 1vh;
}