.header {
	position: fixed;
	z-index: 1000;
	top: 150px;
}

td>h2 {
	font-family: Tahoma;
	color: white;
}

table {
	width: 100%;

}

.div-background {
	background-color: #adb9ca;
}

table {
	margin-bottom: -16px;
	margin-top: -10px;
	/*margin-left: -8px;*/
	margin-right: -10px;
}

div {
	margin-bottom: -16px;
	margin-top: -10px;
	/*margin-left: -8px;*/
	height: 100%;
}

h2, p {
	font-family: Tahoma;
}

.margin {
	margin-right: 90px;
}

u {
	margin-left: 120px;
}

a {
	font-family: Tahoma;
	color: #000000;
	font-size: 130%;
}

#pad {
	margin-left: -8px;
}