<<<<<<< HEAD
.QuizBlockOption {
    width: 200px;
    height: 25px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1vh;
=======
.QuizBlockOption {
    width: 200px;
    height: 25px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1vh;
>>>>>>> e7076219504e8160ea612f6d33d0aa7ef3418866
}