<!DOCTYPE html>
<html>
<head>
	<title>Главная Страница (название сайта)</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'Главная страница.css') }}">
</head>
<body>
	<header class="first-div">
		<table border="0" cellspacing="0">
			<tr align="center">
				<td width="25%" align="center" bgcolor="333333"><img src="{{ url_for('static', filename = 'логотип.png') }}" alt="логотип страницы"></td>
				<td width="60%" align="center" bgcolor="333333"><h2 class="margin">НАЗВАНИЕ САЙТА<h2></td>
				<td bgcolor="3d6deb"><img src="{{ url_for('static', filename = 'настройки.png') }}" alt="настройки" width="40%" align="center">
					<select>
						<option value="#">Войти</option>
						<option value="#">Регистрация</option>
					</select>
				</td>
			</tr>
		</table>
	</header>
	<div class="div-background" id="pad">
		<br/>
		<br/>
		<br/>
		<br/>
		<h2><u>Наши курсы</u></h2>
		<br/>
		<br/>
		<br/>
		<br/>
		<table align="center" width="70%" border="0" cellspacing="15">
			<col width="500">
			<tr align="center" valign="middle">
				<td width="33%" height="400">&nbsp;</td>
				<td width="33%" bgcolor="3d6deb"><img src="{{ url_for('static', filename = 'курс.png') }}" alt="python" width="60%"></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><a href="#"><b>Пройти курс</b></a></td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
	<table cellspacing="0">
		<tr>
			<td bgcolor="333333" width="33%" valign="middle" align="center">
				<a href="#"><img src="{{ url_for('static', filename = 'вк.png') }}" alt="вконтакте" width="14%"></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#"><img src="{{ url_for('static', filename = 'твит.png') }}" alt="твиттер" width="10%"></a>&nbsp;&nbsp;&nbsp;
				<a href="#"><img src="{{ url_for('static', filename = 'инста.png') }}" alt="инсаграмм" width="10%"></a>
			</td>
			<td bgcolor="3d6deb"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></td>
		</tr>
	</table>
</body>
</html>