<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
<title>форма регистрации</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="Главная страница.css">
</head>
<body>
<label>email/login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input name="password">
<br/>
<br/>
<label>password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input name="password">
<br/>
<br/>
<label>password check&nbsp;&nbsp;&nbsp;</label>
<input name="password">
</body>
</html>
</body>
</html>