<!DOCTYPE html>
<html>
<head>
	<title>форма входа</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='форма.css') }}">
</head>
<body bgcolor="000000">
	<table border="0" align="center">
		<tr>
			<td width="33%">&nbsp;</td>
			<td width="33%">
				<div align="center" class="block">
					<br/>
					<br/>
					<br/>
					<br/>
					<form method="POST"
					<label for="login">login&nbsp;&nbsp;&nbsp;</label>
			    	<input name="login">
			    	<br/>
			    	<br/>
			    	<label for="password">password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			    	<input name="password">
			    	<br/>
			    	<br/>
			    	<br/>
			    	<input name = "Войти" type="submit" value="ВОЙТИ" size="50" class="color">
					</form>
				</div>
			</td>
			<td width="33%">&nbsp;</td>
		</tr>
	</table>
</body>
</html>





<!--kjbnjhbhbhjj-->