<!DOCTYPE html>
<html>
<head>
	<title>форма регистрации</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='форма.css') }}">
</head>
<body bgcolor="000000">
    <table border="0" align="center">
        <tr>
            <td width="33%">&nbsp;</td>
            <td width="33%">
                <div align="center">
                    <br/>
                    <br/>
                    <br/>
                	<label for="email/login">email/login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input name="email/login">
                    <br/>
                    <br/>
                    <label for="password">password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input name="password">
                    <br/>
                    <br/>
                    <label for="password_check">password check&nbsp;&nbsp;&nbsp;</label>
                    <input name="password_check">
                    <br/>
                    <br/>
                    <input name = "Войти" type="submit" value="РЕГИСТРАЦИЯ" size="50" class="color">
                </div>
            </td>
            <td width="33%">&nbsp;</td>
        </tr>
</body>
</html>





<!--knkjnjknbjnbjnj-->